body{
				font-size:10px;
				margin:10px;
				margin-top:0;
				margin-bottom:10px;
				outline:#81a2b2 solid 10px;
}
.topdiv{
			 margin:11px 0px  0px 0px;
}
h4{
				margin-bottom:20px;
				color:#cd4138;
				text-align:left;
				font-family:cutive mono;
				font-size:20px;
}

footer{
				background-color:#2e2e2e;
				text-align:center;
				padding:50px 40px 5px 40px;
				color:#e8ffff;
}
.lastparagraph{
				margin-top:30px;
}
.navbar{
				background-color:#63c6d9;
}
.carousel {
				margin-top:60px;
				margin-bottom:200px;
				text-align:center;
}
.course1{
				width:50%;
			 padding:5px 20px;
			 background-color:#c4ceef;
			 text-align:center;
			 border:2px ridge #973bd7; 
			 margin-left:25%;
}
.btncourse{
				margin-bottom:5px;
}
.courseimg1{
				width:40%;
				height:auto;
				position:center;
				margin-top:20px;
				margin-bottom:20px;
}
.coursepara{
				margin-bottom:30px;
				font-size:2vw;				
}
.intro{
			margin-bottom:100px;
			margin-top:30px;
			text-align:left;
			width:100%;
}
h6{
				color:#0c7783;
				border-top:2px solid #ff5146 ;
				padding-top:10px;
				text-align:left;
				font-family:lateef;
				font-size:20px;
}
.introduction{
				text-align:justify;
				color:#e79c3f;
				margin-top:10px;
				margin-bottom:3px;
				font-family:lateef;
				font-size:15px;
}
.introduction2{
				text-align:justify;
				color:#ff5146;
				margin-top:10px;
				border-bottom:2px solid #0c7783;
				padding-bottom:10px;
				margin-top:3px;
				font-family:lateef;
				font-size:15px;
}
.sidelink{
				margin-top:80px;
				text-align:center;
				border-left:2px solid #00a80a;
				border-right:2px solid #00a80a;
				border-bottom:2px solid #0098ff;
				padding:0 10px 10px 10px;
}
h7{
				font-size:20px;
				color:#00a80a;
				text-align:center;
				margin-bottom:20px;
				display:block;
				font-family:cutive mono;
}
.para1{
				border:1px solid black;
				border-bottom:0;
				border-top:0;
				border-right:0;
				border-left:4px solid #00afff;
				padding:10px;
				margin:30px 0;
				background-color:#e0e0e0;
				color:#000000;
				text-align:justify;
				font-family:lateef;		
}
.myname{
				color:#9d74ff;
				font-size:10px;
}
.date{
				color:#aea2ff;
				font-size:6px;
}
.para2{
				border:1px solid black;
				border-bottom:0;
				border-right:0;
				border-top:0;
				border-left:4px solid #00afff;
				padding:10px;
				margin:30px 0;
				background-color:#e0e0e0;
				color:#000000;
				text-align:justify;
				font-family:lateef;
}
.para3{
				border:1px solid black;
				border-bottom:0;
				border-top:0;
				border-right:0;
				border-left:4px solid #00afff;
				padding:10px;
				margin:30px 0 100px 0;
				background-color:#e0e0e0;
				color:#000000;
				text-align:justify;
				font-family:lateef;
}
.note{
				color:#ff5d5d;
}
.notedetails{
}
.related{
				width:90%;
				margin-left:20px;
				margin-top:30px;			
}
.rlink{
				background-color:#d1f3ff;
				padding:2px;
				display:block;
				border-left:1px solid #0098ff;
				border-right:1px solid #0098ff;
				text-align:center;
				font-family:open sans condensed;


}
.rlink:hover{
				background-color:#3da5e1;
				text-decoration:none;
				color:white;
}
h5{
				font-size:20px;
				color:#00a80a;
				text-align:center;
				font-family:cutive mono;
}
.internet{
				line-height:1.5;
				color:#545454;
				font-size:2vw;
}
.highlighter{
				background-color:#ffb88b;
}
.internetimg{
				width:100%;
}
#question{
				padding:4%;
				margin-bottom:100px;
}


.myButton { 	box-shadow:inset 0px 28px 38px -24px #e67a73; 
 	background-color:#e4685d; 
 		border-radius:8px; 
 		display:inline-block; 
 		cursor:pointer; 
 		color:#ffffff; 	
 		font-family:Verdana; 
 		font-size:10px; 	
 	 font-weight:bold; 	
 	 padding:4px 36px; 	
 	 text-decoration:none; 	
 	 text-shadow:-12px 4px 10px #b23e35; 
 	 } 
.myButton:hover { 
 					background-color:#ffffff; 
 					color:#e4685d;
 					text-decoration:none;
}
.myButton:active { 	
  				position:relative; 
  					top:1px;
 } 
